* {
  box-sizing: border-box;
}

header {
  hight: 100px;
  background-color: #C04E3F;
  color: #fff;
  padding-top: 10px;
}

navigation　｛
  hight: 80px;
  background-color: #5C85D6;
  color: #fff;
  padding-top: 10px
}

contants {
  hight: 400px;
  background-color: #F4A04B;
  

